/* Cards */

.card {
  border: 1px solid $border-color;
  .card-body {
    padding: $card-padding-y $card-padding-x;
    + .card-body {
      padding-top: 1rem;
    }
    .card-icon-indicator {
      width: 45px;
      height: 45px;
      font-size: 20px;
      color: $neutral-light;
      border-radius: 50px;
      text-align: center;
      line-height: 2.2;
    }
  }
  .card-title {
    color: $text-dark;
    margin-bottom: .75rem;
    text-transform: capitalize;
    font-family: $type1;
    font-size: 16px;
  }
  .card-subtitle {
    color: $text-light;
    font-family: $type1;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  .card-description {
    color: $text-light;
    margin-bottom: 1.5rem;
    font-family: $type1;
  }
  &.card-outline-primary {
    border: 1px solid $primary;
  }
  &.card-outline-accent {
    border: 1px solid $accent;
  }
  &.card-outline-secondary {
    border: 1px solid $secondary;
  }
  &.card-rounded {
    @include border-radius(5px);
  }

  &.card-faded {
    background: $neutral-medium;
    border-color: $neutral-medium;
  }
  &.card-circle-progress {
    color: $neutral-light;
    text-align: center;
  }
  &.card-img-holder {
    position: relative;
    .card-img-absolute {
      position: absolute;
      top:0;
      right: 0;
      height: 100%;
    }
  }
}

@each $color, $value in $theme-colors {
  .card-inverse-#{$color} {
    @include card-inverse-variant(rgba($value, .2), $value, darken($value, 10%));
  }
}
