

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]


#RewriteCond %{REQUEST_METHOD} GET [NC]
#RewriteCond %{HTTP_HOST} ^laricahotels\.com$ [NC]
#RewriteRule ^(.*)$ http://www.laricahotels.com/$1 [R=301,L]
</IfModule>
